.container {
  width: 100%;
  min-height: 100vh;
}

.selectorWrapper {
  position: fixed;
  top: 90px;
  left: 20px;
  z-index: 100;
}

.viewContainer {
  width: 100%;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .selectorWrapper {
    top: 70px;
    left: 16px;
  }
}
